body {
  background-color: rgb(51, 51, 59);
}

.flat-list li {
  display: inline;
}
a {
  color: white;
}
a:hover {
  color: rgb(46, 42, 42);
}

h2 {
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table {
  padding: 15px;
}

.card {
  font-family: Arial, Helvetica, sans-serif;
}

.card:hover {
  background-color: rgb(204, 197, 197);
}
iframe {
  display: block;
}

.customerInput {
  display: none;
}
.customerAlert {
  display: none;
}

footer {
  margin-top: 100px;
}
